*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: #232B2B;
  color: white;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
}

.wrapper {
    max-width: 90%;
    width: 100%;
    margin: auto;
  }
  
  .colWrap {
    display: flex;
  }

  .divider{
    width: 100%;
    margin: 10px 0px;
  }

  .divider-v{
    height: 100%;
    margin: 0px 5px;
  }

  .btn-warning{
    background-color: #6b7e8d;
    color: white;
  }

  .btn-primary{
    background-color: #0B4F9E;
    color: white;
  }
  
  .box {
    width: 55px;
    height: 55px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: bold;
    border-radius: 0% !important;
  }
  
@media screen and (max-width: 600px) {
  .container{
    height: 50%;
    margin-top: 20px;
  }
    .box {
        width: 40px;
        height: 40px;
        font-size: 16px;
        margin: 0px;
        border:none;
    }

    .display-4{
      font-size: 45px;
    }
}